input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #cdcdcd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxLabel {
  cursor: pointer;
  margin-left: 10px;
}

input[type="checkbox"]::after {
  content: "\2713";
  font-weight: 100;
  display: none;
}

input[type="checkbox"]:hover::after {
  content: "\2713";
  display: block;
  color: #e3e3e3;
}

input[type="checkbox"]:active::after {
  content: "\2713";
  font-weight: 100;
  color: white;
}

input[type="checkbox"]:active {
  box-shadow: rgb(205, 206, 208) 0px 0px 0px 2px, rgba(205, 206, 208) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  background-color: #5087f8;
}

input[type="checkbox"]:checked::after {
  display: block;
  color: white;
}

input[type="checkbox"]:checked {
  background-color: #2469f6;
}

input[type="checkbox"]:hover:checked {
  background-color: #5087f8;
  box-shadow: rgba(43, 107, 235, 0.31) 0px 0px 0px 2px, rgba(43, 107, 235, 0.31) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
